In [2]:
import numpy as np
import pandas as pd
# from langdetect import detect
import csv

In [ ]:
all_data = pd.read_csv("data/Listing_Titles.tsv", sep="\t", dtype=str, keep_default_na=False, na_values=[""], quoting=csv.QUOTE_NONE).reset_index(drop=True)

In [ ]:
preds = []
for i in range(len(all_data)):
    try:
        preds.append(detect(all_data.Title[i]))
    except:
        pass

In [18]:
filedir = "/Users/rohankulkarni/Desktop/results_1125_roberta_crf_results.tsv"

In [19]:
pred = pd.read_csv(filedir, sep="\t", dtype=str, keep_default_na=False, header=None, na_values=[""], quoting=csv.QUOTE_NONE).reset_index(drop=True)
pred

            0              1                 2
0        5001          Marke              NIKE
1        5001   Produktlinie              FREE
2        5001         Modell  RUN 3 SHIELD 5.0
3        5001           Stil          SNEAKERS
4        5001     Produktart        LAUFSCHUHE
...       ...            ...               ...
162100  30000          Marke              Puma
162101  30000     Produktart        Turnschuhe
162102  30000          Farbe              weiß
162103  30000      Abteilung            unisex
162104  30000  EU-Schuhgröße                43

[162105 rows x 3 columns]

In [20]:
pred.loc[pred.loc[:, 0]=="19197", :]

           0              1           2
92218  19197          Marke        Nike
92219  19197   Produktlinie  Air Jordan
92220  19197         Modell          XI
92221  19197   Produktlinie       Retro
92222  19197   Produktlinie       Space
92223  19197         Modell         Jam
92224  19197  EU-Schuhgröße          45
92225  19197  US-Schuhgröße          11

In [21]:
pred.loc[pred.loc[:, 0]=="25390", :]

            0                1           2
132170  25390            Marke        Nike
132171  25390     Produktlinie  Air Jordan
132172  25390           Modell          XI
132173  25390           Modell      Legend
132174  25390            Farbe        Blue
132175  25390    EU-Schuhgröße          46
132176  25390     Produktlinie   Space Jam
132177  25390  Schuhschaft-Typ         Low

In [17]:
pred.loc[pred.loc[:, 1]!="Special", :].to_csv(filedir, sep="\t", na_rep = "null", header=False, index=False)